<a href="https://colab.research.google.com/github/sarkar2527/DSAP/blob/main/Feature_engineering_OHE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Handle Categorical Features
One Hot Encoding**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [7]:
df= pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv")

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv',usecols=['Sex'])

In [11]:
df.head(2)

      Sex
0    male
1  female

In [12]:
pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

#### Onehotencoding with many categories in a feature

In [14]:
df_1=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/mercedes.csv',usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [15]:
df_1.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [20]:
list_10 =df_1.X1.value_counts().sort_values(ascending=False).head(10)

In [21]:
list_10 .head()

aa    833
s     598
b     592
l     590
v     408
Name: X1, dtype: int64

In [22]:
type(list_10)

pandas.core.series.Series

In [23]:
#converting to list
lst_10=list(list_10)

In [24]:
lst_10

[833, 598, 592, 590, 408, 251, 203, 143, 121, 82]

In [25]:
for categories in lst_10:
    df_1[categories]=np.where(df_1['X1']==categories,1,0)

In [26]:
lst_10.append('X1')

In [27]:
df_1[lst_10]

      833  598  592  590  408  251  203  143  121  82 X1
0       0    0    0    0    0    0    0    0    0   0  v
1       0    0    0    0    0    0    0    0    0   0  t
2       0    0    0    0    0    0    0    0    0   0  w
3       0    0    0    0    0    0    0    0    0   0  t
4       0    0    0    0    0    0    0    0    0   0  v
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  .. ..
4204    0    0    0    0    0    0    0    0    0   0  s
4205    0    0    0    0    0    0    0    0    0   0  o
4206    0    0    0    0    0    0    0    0    0   0  v
4207    0    0    0    0    0    0    0    0    0   0  r
4208    0    0    0    0    0    0    0    0    0   0  r

[4209 rows x 11 columns]